<section>
  <h1
    id="projects"
    class="text-base-content mt-25 mb-5 flex justify-self-center text-3xl md:text-4xl font-bold sm:mb-1 pt-10"
  >
    My Projects:
  </h1>
  <% if (projects?.length >= 1) { %>
   
    
    <div
    class="grid lg:grid-cols-2 2xl:grid-cols-3 max-w-3/4 grid-cols-1 gap-4 gap-y-[0px] justify-self-center"
    >
    <% projects.forEach(e => { %>
    <div
      class="bg-primary text-primary-content mx-auto mt-20 max-w-96  rounded-2xl   shadow-2xl p-5 shadow-2xl"
    >
      <div class="flex justify-center">
        <div class="avatar">
          <div class="mask mask-hexagon w-24">
            <img
              alt="Big favicon for my Exileplanet project"
              src="<%= e.img %>"
            />
          </div>
        </div>
      </div>

      <h3 class="mt-2 mb-3 text-center text-3xl font-bold">
        <%= e.title %>
      </h3>

      <p class="text-center text-pretty text-2xl font-medium">
        <%= e.brief %>
      </p>

      <ul class="mt-4 list-inside list-disc ">
        <% e.bulletPoints.forEach(b => { %>
         
            <li class="text-balance text-xl pb-3 "> <%= b %></li>
        <% }) %>

      </ul>

      <!-- Call-to-Action Button with Aligned Icon -->
      <a
        href=" <%= e.siteLink %>"
        class="btn btn-neutral hover:btn-primary btn-wide mt-4 flex items-center justify-center text-xl"
      >
        Check it out here
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="currentColor"
          class="ml-2"
        >
          <path
            d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
          />
        </svg>
      </a>
    </div>
    <% }) %>
    <% } %>
  </div>

</section>
