<!DOCTYPE html>
<html lang="en" data-theme= <%- darkmode ? "synthwave" : "wireframe" %> >
  <%- include('./partials/head.ejs') %>
  <body class="overflow-x-hidden" >
    <%- include('./partials/darkmode.ejs') %>
    <main class="bg-base-100 ">
      <%- include('./partials/landing.ejs') %>
      <%- include('./partials/projects.ejs', {projects: projects}) %>
      <%- include('./partials/technologies.ejs') %>
      <%- include('./partials/siteTracker.ejs', {stats: stats, formatSeconds: formatSeconds}) %>
  </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>


<script defer>
  let hasScrolled = false;

  window.addEventListener("scroll", () => {
    if (!hasScrolled) {
      plausible("scroll");
      hasScrolled = true;
    }
  });
</script>


