<!DOCTYPE html>
<html lang="en" data-theme="corporate">
  <%- include('./partials/head.ejs') %>
  <body >
    <main class="bg-base-200 ">
      <%- include('./partials/landing.ejs') %>
      <%- include('./partials/projects.ejs', {projects: projects}) %>
      <%- include('./partials/technologies.ejs') %>
      <%- include('./partials/siteTracker.ejs', {stats: stats, formatSeconds: formatSeconds}) %>
  </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>

<script>
  let hasScrolled = false;

  window.addEventListener("scroll", () => {
    if (!hasScrolled) {
      plausible("scroll");
      hasScrolled = true;
    }
  });
</script>
