<!DOCTYPE html>
<html lang="en" data-theme= <%- darkmode ? "dracula" : "corporate" %> >
  <%- include('./partials/head.ejs') %>
  <body >
    <%- include('./partials/darkmode.ejs') %>
    <main class="bg-base-100 ">
      <%- include('./partials/landing.ejs') %>
      <%- include('./partials/projects.ejs', {projects: projects}) %>
      <%- include('./partials/technologies.ejs') %>
      <%- include('./partials/siteTracker.ejs', {stats: stats, formatSeconds: formatSeconds}) %>
  </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
<!-- START Formbricks Surveys -->
<script type="text/javascript">
  !function(){
      var appUrl = "https://app.formbricks.com";
      var environmentId = "cm9fi2pmi334vvw01z6yrzm4j";
      var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=appUrl+"/js/formbricks.umd.cjs",t.onload=function(){window.formbricks?window.formbricks.setup({environmentId:environmentId,appUrl:appUrl}):console.error("Formbricks library failed to load properly. The formbricks object is not available.");};var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}();
  </script>
  <!-- END Formbricks Surveys -->

<script>
  let hasScrolled = false;

  window.addEventListener("scroll", () => {
    if (!hasScrolled) {
      plausible("scroll");
      hasScrolled = true;
    }
  });
</script>
